.main .about {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
    margin-top: var(--top-margin);
    padding: 0 var(--padding);
    text-align: center;
    box-sizing: border-box;
}

.main .about p {
    line-height: 28px;
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 32px;
}

.main .about .sidebar {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 66px;
    position: sticky;
    top: var(--padding);
    padding-left: var(--padding);
}

.main .about .sidebar .sidebar-inner {
    background-color: var(--box-color);
    padding: 16px 24px;
    border-radius: 16px;
    width: 200px;
}

.main .about .sidebar .link {
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .2s 0s ease;
}

.main .about .sidebar .link:hover {
    margin-left: 5px;
}

.main .about .sidebar .link.active {
    color: var(--highlight-color);
}

.main .about .content {
    height: 100%;
    display: inline-block;
    width: var(--text-width);
    text-align: left;
    max-width: 100%;
}

.main .about .content .section {
    margin-bottom: 50px;
    border-top: 3px solid var(--border-color);
    padding-top: 40px;
}

.main .about .content .project-info {
    margin-top: -35px;
    margin-bottom: 20px;

}

.main .about .content .project-info img.project-logo {
    width: 300px;
    margin-top: 8px;

}

.main .about .content .section ul {
    font-size: 16px;
    padding-left: 32px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
    .main .about .sidebar {
        display: none;
    }
}

.main .about .content .person {
    width: 163px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: var(--padding);
    vertical-align: top;
}

.main .about .content .person img {
    width: 100%;
    border-bottom: 4px solid var(--highlight-color);
}

.main .about .content .person .name {
    font-size: 18px;
}

.main .about .content .person .job {
    font-size: 16px;
    font-weight: 200;
}

.main .about .content .person .email {
    font-size: 12px;
    text-decoration: underline;
    color: var(--link-color);
}

.main .about .content .person .contact-head {
    margin-top: 12px;
    font-size: 14px;
    margin-bottom: 4px;
}

.main .about .section-content .projects {
    margin-bottom: 18px;
}

.main .about .parameter {
    padding: 8px 0;
}

.main .about .parameter .circle {
    width: 32px;
    height: 32px;
    background-color: var(--highlight-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
}

.main .about .parameter .text {
    display: inline-block;
    padding-left: 8px;
}



.main .about .header {
    margin-top: 18px;
    color: var(--background-font-color);
}

.main .about .sub-header {
    font-size: 22px;
    margin-bottom: 12px;
}

.main .about .sub-header .link {
    font-size: 10px;
}

.main .about a {
    color: var(--link-color);
}

.main .about a.link {
    display: block;
    padding: 4px 0;
}

.main .about a.repo {
    display: block;
    margin-bottom: 16px;
}

.main .about .title {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 8px 0;
}

.main.dark .about .title {
    color: #e5e5e5;
}

.main .about .text .repo {
    padding: 8px 0;
}

.main .about .images {
    background-color: white;
    margin-top: 16px;
    position: absolute;
}

.main .about .images img {
    border-radius: 12px;
    height: 50px;
    padding: 12px 34px;
}

.main .about table td {
    padding: 5px 5px 5px 20px;
}


@media screen and (max-width: 700px) {
    .main .about .images img {
        height: 28px;
        padding: 12px;
    }

    .main .about .content .person {
        width: calc(50% - var(--padding));
    }
}

@media screen and (max-width: 500px) {
    .main .about {
        margin-top: 60px;
        padding: var(--padding);
        overflow: hidden;
    }

    .main .about .header {
        font-size: 26px;
        margin: none;
    }

    .main .about .content .section {
        border-color: var(--border-color);
    }
}