.main .about {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 170px;
    padding: 18px 22px;
    border-radius: 12px;
    box-sizing: border-box;
}

.main.dark .about {
    color: #e5e5e5;
}

.main .about .header {
    font-size: 28px;
    margin-bottom: 8px;
}

.main .about .sub-header {
    font-size: 22px;
    margin-bottom: 12px;
}

.main .about a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main.dark .about a {
    color: #e5e5e5;
}

.main .about p {
    margin-bottom: 18px;
}

.main .about .title {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 8px 0;
}

.main.dark .about .title {
    color: #e5e5e5;
}

.main .about .text .repo {
    padding: 8px 0;
}

.main .about .images {
    background-color: white;
    margin-top: 16px;
    position: absolute;
}

.main .about .images img {
    border-radius: 12px;
    height: 50px;
    padding: 12px 34px;
}

.main .about table td {
    padding: 5px 5px 5px 20px;
}


@media screen and (max-width: 700px) {
    .main .about .images img {
        height: 28px;
        padding: 12px;
    }
}

@media screen and (max-width: 500px) {
    .main .about {
        margin-top: 60px;
        padding: 8px;
    }
}