.main .scroll-up {
    background-color: var(--box-color);
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: fixed;
    z-index: 9999999;
    bottom: calc(var(--padding) * 2);
    right: var(--padding);
    transition: right 0.4s ease;
}

.main .scroll-up.hidden {
    right: -100px;
}

.main .scroll-up img {
    width: 24px;
    transition: transform .33s 0s ease;
}

.main .scroll-up:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .main .scroll-up {
        bottom: var(--padding);
    }
}