.information {
    display: inline-block;
    position: relative;
}

.information .information-symbol {
    padding: 0px 11px;
    border-radius: 100%;
    background-color: var(--select-color);
    line-height: 30px;
    color: var(--background-subtle-font-color);
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
}

.information .information-box {
    display: none;
    position: absolute;
    background-color: var(--select-color);
    top: 0;
    z-index: 99999;
    padding: 16px;
    border-radius: 12px;
    left: 50px;
    width: 282px;
    color: var(--background-font-color);
    font-size: 18px;
    border: 1px solid var(--border-color);
}

.information:hover .information-symbol {
    color: var(--background-font-color);
}

.information:hover .information-box {
    display: block;
}

@media screen and (max-width: 500px) {
    .information .information-box {
        position: fixed;
        top: unset;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        bottom: 0;
        border: none;
        border-radius: 0;
    }

    .information .information-symbol {
        padding: 0px 9px;
        line-height: 26px;
    }
}