.main .models {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
    margin-top: var(--top-margin);
    padding: 0 var(--padding);
    text-align: center;
    box-sizing: border-box;
}

.main .models .sidebar {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 66px;
    position: sticky;
    top: var(--padding);
    padding-left: var(--padding);
    width: 200px;
}

.main .models .sidebar .link {
    padding: 4px;
    cursor: pointer;
}

.main .models .sidebar .link:hover {
    font-weight: 600;
}

.main .models .content {
    height: 100%;
    display: inline-block;
    width: var(--text-width);
    text-align: left;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .main .models .sidebar {
        display: none;
    }
}