.main .downloads a {
  color: var(--link-color);
  text-decoration: none;
}

.main .downloads .text-width-downloads {
  margin: auto;
  box-sizing: border-box;
  margin-top: var(--top-margin);
  max-width: calc(var(--text-width) + 2 * var(--padding));
  width: 100%;
}

.main .downloads .sidebar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 66px;
  position: fixed;
  top: var(--padding);
  padding-left: var(--padding);
  right: 0;
}

.main .downloads .sidebar .sidebar-inner {
  background-color: var(--box-color);
  padding: 16px 24px;
  border-radius: 16px 0 0 16px;
  width: 200px;
}

.main .downloads .sidebar .link {
  margin-bottom: 8px;
  cursor: pointer;
  transition: all .2s 0s ease;
}

.main .downloads .sidebar .link:hover {
  margin-left: 5px;
}

.main .downloads .sidebar .link.active {
  color: var(--highlight-color);
}

.main .downloads .contact {
  margin-bottom: 32px;
  margin-top: 12px;
  font-size: 14px;
}

.main .downloads .section {
  margin-bottom: 40px;
  padding-top: 60px;
}

.main .downloads h2.api {
  padding-top: var(--padding);
}

.main .downloads .intro {
  font-size: 20px;
  margin-top: var(--padding);
}

.main .downloads .selector select {
  background-color: var(--background-color);
  padding: 8px 15px;
  color: var(--background-font-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  margin-right: calc(var(--padding) / 2);
  max-width: 220px;
  margin-bottom: 12px;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.main .downloads .selector select:hover {
  border-color: var(--highlight-color);
}

.main .downloads .selector.middle {
  margin-bottom: var(--padding);
}

.main .downloads button.download {
  background-color: var(--highlight-color);
  padding: 8px 16px;
  color: white;
  border: 1px solid var(--highlight-color);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 12px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.main .downloads button.download:hover {
  transform: translateY(-2px);
}

.main .downloads .comment {
  color: var(--background-subtle-font-color);
  font-size: 14px;
}

.main .downloads .comment.space {
  margin-bottom: var(--padding);
}

.main .downloads .error {
  font-size: 30px;
  padding: 50px 0;
  position: relative;
}

.main .downloads .error .suberror {
  font-size: 20px;
}

.main .downloads .error img {
  opacity: 0.03;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

.main.dark .downloads .error img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.main .downloads .swagger-ui {
  margin-top: 32px;
}

.main .downloads .swagger-ui .info {
  display: none;
}

.main .downloads .swagger-ui .wrapper {
  padding: 0;
}

.main .downloads .swagger-ui section.models {
  display: none;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--highlight-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: var(--border-color);
  background-color: var(--box-color);
  border-radius: 5px;
}

.swagger-ui .opblock.opblock-get {
  background: none;
  border-color: var(--border-color);
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
  background: var(--border-color);
}

.swagger-ui .opblock {
  box-shadow: none;
}

.swagger-ui .opblock-tag {
  border: none;
}

.swagger-ui .opblock-body {
  background-color: var(--box-color);
}


.swagger-ui .parameters-col_description input {
  color: var(--background-font-color);
}

.swagger-ui a.nostyle {
  color: var(--background-font-color);
}

.swagger-ui .opblock .opblock-summary-description {
  color: var(--background-font-color);
}

.swagger-ui svg.arrow {
  fill: var(--background-font-color);
}

.swagger-ui .opblock-tag.no-desc span {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.swagger-ui .opblock .opblock-section-header,
.swagger-ui input[type=email],
.swagger-ui input[type=file],
.swagger-ui input[type=password],
.swagger-ui input[type=search],
.swagger-ui input[type=text],
.swagger-ui textarea,
.swagger-ui select {
  background-color: var(--background-color);
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
  background-color: var(--box-color);
}

.swagger-ui,
.swagger-ui select,
.swagger-ui .btn,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal,
.swagger-ui .parameter__name {
  color: var(--background-font-color);
}

@media screen and (max-width: 1380px) {
  .main .downloads .sidebar {
    display: none;
  }
}


@media screen and (max-width: 500px) {
  .swagger-ui .opblock-tag.no-desc span {
    font-size: 22px;
  }

  .main .downloads .section {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .main .downloads .selector select {
    width: 100%;
    background-color: var(--select-color);
    margin-right: 0;
    font-size: 18px;
  }

  .main .downloads button.download {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
  }

  .main .downloads .text-width-downloads {
    margin-top: 0;
  }
}