.main .downloads {
  width: 100%;
  max-width: 1088px;
  margin: auto;
  margin-top: var(--top-margin);
  padding: 0 var(--padding);
  box-sizing: border-box;
}

.main .downloads p {
  line-height: 28px;
  font-size: 16px;
  max-width: 700px;
  margin-bottom: 12px;
}

.main .downloads .header {
  margin-top: 18px;
  color: var(--background-font-color);
}

.main .downloads .contact {
  margin-bottom: 32px;
  margin-top: 12px;
  font-size: 14px;
}

.main .downloads select {
  background-color: var(--box-color);
  padding: 8px 16px;
  color: var(--background-font-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  margin-right: calc(var(--padding) / 2);
  max-width: 220px;
  margin-top: 12px;
}

.main .downloads .selector {
  margin-bottom: 32px;
  margin-top: -12px;
}

.main .downloads button.download {
  background-color: var(--highlight-color);
  padding: 8px 16px;
  color: white;
  border: 1px solid var(--highlight-color);
  border-radius: 16px;
  cursor: pointer;
  margin-top: 12px;
  box-shadow: var(--box-shadow);
}

.main .downloads button.download:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out all;
}

.main .downloads .error {
  font-size: 50px;
}

.main .downloads .error .suberror {
  font-size: 30px;
}

.main .downloads .error img {
  opacity: 0.03;
  position: fixed;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

.main.dark .downloads .error img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.main .downloads .swagger-ui {
  margin-top: 32px;
}

.main .downloads .swagger-ui .info {
  display: none;
}

.main .downloads .swagger-ui .wrapper {
  padding: 0;
}

.main .downloads .swagger-ui section.models {
  display: none;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--highlight-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: var(--border-color);
  background-color: var(--box-color);
  border-radius: 5px;
}

.swagger-ui .opblock.opblock-get {
  background: none;
  border-color: var(--border-color);
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
  background: var(--border-color);
}

.swagger-ui .opblock {
  box-shadow: none;
}

.swagger-ui .opblock-tag {
  border: none;
}

.swagger-ui .opblock-body {
  background-color: var(--box-color);
}


.swagger-ui .parameters-col_description input {
  color: var(--background-font-color);
}

.swagger-ui a.nostyle {
  color: var(--background-font-color);
}

.swagger-ui .opblock .opblock-summary-description {
  color: var(--background-font-color);
}

.swagger-ui svg.arrow {
  fill: var(--background-font-color);
}

.swagger-ui .opblock-tag.no-desc span {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.swagger-ui .opblock .opblock-section-header,
.swagger-ui input[type=email],
.swagger-ui input[type=file],
.swagger-ui input[type=password],
.swagger-ui input[type=search],
.swagger-ui input[type=text],
.swagger-ui textarea,
.swagger-ui select {
  background-color: var(--background-color);
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
  background-color: var(--box-color);
}

.swagger-ui,
.swagger-ui select,
.swagger-ui .btn,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal,
.swagger-ui .parameter__name {
  color: var(--background-font-color);
}

@media screen and (max-width: 500px) {

  .main .downloads .header {
    font-size: 26px;
  }

  .swagger-ui .opblock-tag.no-desc span {
    font-size: 22px;
  }
}