.main .lake .content {
  position: fixed;
  left: 0;
  top: 100px;
  width: 100%;
  height: calc(100% - 140px);
  padding: 0 24px;
  box-sizing: border-box;
  z-index: 2;
}

.main .lake .content .click-block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: wait;
}

.main .lake .content .primary {
  width: calc(100% - 400px);
  height: 100%;
  display: inline-block;
}

.main .lake .content .secondary {
  display: inline-block;
  width: 400px;
  height: 100%;
  vertical-align: top;
}

.main .lake .content .primary .map-component {
  width: calc(100% - 24px);
  height: calc(100% - 32px);
  margin-right: 24px;
  margin-bottom: 32px;
  box-sizing: border-box;
  position: relative;
}

.main .lake .content .primary .map-component .lake-name {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 44px;
  z-index: 999;
  color: rgba(255, 255, 255, 0.8);
}

.main .lake .content .primary .map-component.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.main .lake .content .primary .map-component .settings-modal {
  position: absolute;
  right: 12px;
  bottom: 66px;
  z-index: 9999;
  background-color: rgba(28, 28, 28, 0.9);
  padding: 12px 18px;
  border-radius: 12px;
  color: white;
}

.main .lake .content .primary .map-component .settings-modal .settings-input {
  text-align: right;
}

.main .lake .content .primary .map-component .settings-modal .settings-input input {
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 5px 0 5px 20px;
}

.main .lake .content .primary .map-component .settings-modal .settings-input select {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #343434;
  color: white;
  margin: 5px 0 5px 20px;
}

.main .lake .content .primary .map-component .settings-modal.hidden {
  visibility: hidden;
}

.main .lake .content .primary .map-component .viewport {
  width: 100%;
  height: 100%;
}

.main .lake .content .primary .map-component .gradient {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 127px;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

.main .lake .content .primary .map-component .playback {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.main .lake .content .primary .map-component .playback .slider {
  width: calc(100% - 28px);
  box-sizing: border-box;
  position: absolute;
  bottom: 44px;
  left: 12px;
  z-index: 9999;
}

.main .lake .content .primary .map-component .playback .play-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 12px;
  color: white;
  box-sizing: border-box;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button {
  opacity: 0.9;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button:hover {
  opacity: 1;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button .tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 12px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button .tooltip.right {
  right: 10px;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button:hover .tooltip {
  visibility: visible;
}

.main .lake .content .primary .map-component .playback .play-controls .play-pause-icon {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 24px;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 12px 0 12px 18px;
  margin-left: 12px;
}

.main .lake .content .primary .map-component .playback .play-controls .play-pause-icon.paused {
  border-style: double;
  border-width: 0px 0 0px 20px;
}

.main .lake .content .primary .map-component .playback .play-controls .current-datetime {
  display: inline-block;
  padding-top: 16px;
  vertical-align: top;
  margin-left: 10px;
  font-size: 14px;
}

.main .lake .content .primary .map-component .playback .play-controls .selected-period {
  display: inline-block;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button {
  display: inline-block;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button.tools {
  float: right;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button.settings {
  float: right;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button.fullscreen {
  float: right;
}

.main .lake .content .primary .map-component .playback .play-controls .clickable-button.fullscreen:hover img {
  animation: pulse 0.3s normal;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.main .lake .content .primary .map-component .playback .play-controls button {
  width: 46px;
  height: 48px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.main .lake .content .primary .map-component .playback .play-controls button img {
  width: 24px;
  height: 24px;
}

.main .lake .content .secondary .info {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px 22px 8px 22px;
  border-radius: 12px;
}

.main.dark .lake .content .secondary .info {
  background-color: rgba(255, 255, 255, 0.1);
}

.main .lake .content .secondary .info .name {
  font-size: 36px;
  text-align: center;
  color: #343434;
  margin-bottom: 12px;
}

.main.dark .lake .content .secondary .info .name {
  color: #dddddd;
}

.main .lake .content .secondary .info .data .temperature {
  width: 176px;
  display: inline-block;
}

.main .lake .content .secondary .info .data .temperature .value {
  font-size: 83px;
  display: inline-block;

}

.main .lake .content .secondary .info .data .temperature .details {
  display: inline-block;
}

.main .lake .content .secondary .info .data .temperature .details .unit {
  font-size: 45px;
}

.main .lake .content .secondary .info .data .temperature .details .average {
  text-align: right;
}

.main .lake .content .secondary .info .data .datetime {
  width: 176px;
  display: inline-block;
  text-align: right;
}

.main .lake .content .secondary .info .data .datetime .date {
  font-size: 24px;
}

.main .lake .content .secondary .info .data .datetime .time {
  font-size: 40px;
}

.main .lake .content .secondary .info .graph {
  width: 100%;
  height: 120px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.main .lake .content .secondary .info .graph .graph-parameter {
  position: absolute;
  top: -16px;
  color: #b6afaf;
  font-size: 18px;
  z-index: 0;
}

.main.dark .lake .content .secondary .info .graph .graph-parameter {
  color: rgb(101, 101, 101);
}

.main .lake .content .secondary .info .graph .period {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  left: 10px;
  color: #b6afaf;
}

.main.dark .lake .content .secondary .info .graph .period {
  color: rgb(101, 101, 101);
}

.main .lake .content .secondary .info .graph .period .start {
  display: inline-block;
}

.main .lake .content .secondary .info .graph .period .end {
  text-align: right;
  float: right;
  display: inline-block;
}

.main .lake .content .secondary .error {
  text-align: center;
}

.main .lake .content .secondary .error .error-code {
  font-size: 100px;
}

.main .lake .content .secondary .error .error-id {
  width: 100%;
  font-weight: 500;
  padding: 20px 0;
  font-size: 40px;
}

.main .lake .content .secondary .depth-period {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-top: 24px;
  position: relative;
  padding: 12px 12px 8px 12px;
  box-sizing: border-box;
}

.main.dark .lake .content .secondary .depth-period {
  background-color: rgba(255, 255, 255, 0.1);
}

.main .lake .content .secondary .depth-period select {
  display: inline-block;
  font-size: 20px;
  width: 100px;
  margin-right: 26px;
  background-color: #e3e3e3;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
}

.main.dark .lake .content .secondary .depth-period select {
  background-color: rgb(30 30 30);
  color: #e5e5e5;
}

.main .lake .content .secondary .depth-period .react-datepicker-wrapper {
  display: inline-block;
  width: auto;
}

.main .lake .content .secondary .depth-period .react-datepicker-wrapper input {
  font-size: 20px;
  width: 250px;
  background-color: #e3e3e3;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 16px;
  box-sizing: border-box;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker-wrapper input {
  background-color: rgb(30 30 30);
  color: #e5e5e5;
}

.main .lake .content .secondary .depth-period .react-datepicker {
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker {
  background-color: #272727;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main .lake .content .secondary .depth-period .react-datepicker .react-datepicker__header {
  background-color: #e3e3e3;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker .react-datepicker__header {
  background-color: #1e1e1e;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker .react-datepicker__day-name {
  color: white;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker .react-datepicker__day {
  color: white;
}

.main.dark .lake .content .secondary .depth-period .react-datepicker .react-datepicker__current-month {
  color: white;
}

.main .lake .content .secondary .depth-period .react-datepicker .react-datepicker__day:hover {
  background-color: #e3e3e3;
}

.main .lake .content .secondary .depth-period .react-datepicker .react-datepicker__day:hover {
  background-color: #1e1e1e;
}

.main .lake .content .secondary .depth-period .labels {
  font-size: 12px;
  padding-top: 5px;
  color: rgb(101, 101, 101);
}

.main .lake .content .secondary .depth-period .labels .depth {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-right: 26px;
}

.main .lake .content .secondary .depth-period .labels .start {
  display: inline-block;
  width: 125px;
  text-align: center;
}

.main .lake .content .secondary .depth-period .labels .end {
  display: inline-block;
  width: 125px;
  text-align: center;
}

.main .lake .content .secondary .menu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-top: 24px;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
}

.main.dark .lake .content .secondary .menu {
  background-color: rgba(255, 255, 255, 0.1);
}

.main .lake .content .secondary .menu .loaded {
  border-radius: 12px;
  margin: 0 6px;
}

.main .lake .content .secondary .menu .loaded .app {
  display: inline-block;
  font-size: 50px;
  border: 2px solid #e5e5e5;
  border-radius: 12px;
  margin: 14px 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #e5e5e5;
  position: relative;
  cursor: pointer;
}

.main.dark .lake .content .secondary .menu .loaded .app {
  border: 2px solid #545454;
  color: #545454;
}

.main .lake .content .secondary .menu .loaded .app.filled {
  background-color: #3a4251;
  width: 62px;
  height: 62px;
  border: none;
  vertical-align: top;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  margin: 16px 14px 34px 14px;
}

.main .lake .content .secondary .menu .loaded .app.filled.active {
  box-shadow: #343434 0px 0px 12px;
}

.main.dark .lake .content .secondary .menu .loaded .app.filled.active {
  box-shadow: white 0px 0px 8px;
}

.main .lake .content .secondary .menu .loaded .app.filled.alplakes_hydrodynamic {
  background-color: #2d2d2d;
  opacity: 1;
  background-image: linear-gradient(30deg, #3a4251 12%, transparent 12.5%, transparent 87%, #3a4251 87.5%, #3a4251), linear-gradient(150deg, #3a4251 12%, transparent 12.5%, transparent 87%, #3a4251 87.5%, #3a4251), linear-gradient(30deg, #3a4251 12%, transparent 12.5%, transparent 87%, #3a4251 87.5%, #3a4251), linear-gradient(150deg, #3a4251 12%, transparent 12.5%, transparent 87%, #3a4251 87.5%, #3a4251), linear-gradient(60deg, #3a425177 25%, transparent 25.5%, transparent 75%, #3a425177 75%, #3a425177), linear-gradient(60deg, #3a425177 25%, transparent 25.5%, transparent 75%, #3a425177 75%, #3a425177);
  background-size: 26px 46px;
  background-position: 0 0, 0 0, 13px 23px, 13px 23px, 0 0, 13px 23px;
}

.main .lake .content .secondary .menu .loaded .app.filled.satellite {
  background-color: #242424;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #242424 15px), repeating-linear-gradient(#3a425155, #3a4251);
}

.main .lake .content .secondary .menu .loaded .app.filled:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}

.main .lake .content .secondary .menu .loaded .app .remove {
  position: absolute;
  top: -10px;
  left: -10px;
  line-height: 10px;
  padding: 2px;
  background-color: #b6afaf;
  border-radius: 22px;
  text-align: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  font-size: 44px;
  transition: color 0.5s;
}

.main .lake .content .secondary .menu .loaded .app .remove:hover {
  background-color: red;
  color: white;
}

.main .lake .content .secondary .menu .loaded .app img {
  padding-top: 9px;
  max-width: 38px;
  max-height: 44px;
}


.main .lake .content .secondary .menu .loaded .app span {
  position: absolute;
  bottom: -34px;
  font-size: 14px;
  left: -10px;
  width: 84px;
  text-align: center;
  color: black;
}

.main.dark .lake .content .secondary .menu .loaded .app span {
  color: #e5e5e5;
}

.main .lake .content .secondary .menu .loaded .app span .type {
  font-size: 12px;
  color: #343434;
}

.main.dark .lake .content .secondary .menu .loaded .app span .type {
  color: rgb(101, 101, 101);
}

.main .lake .content .secondary .selection {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-top: 24px;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
}

.main.dark .lake .content .secondary .selection {
  background-color: rgba(255, 255, 255, 0.1);
}