.yearlygraph {
    margin-top: 12px;
    height: 150px;
    width: 100%;
    position: relative;
}

.yearlygraph .months {
    position: absolute;
    bottom: -12px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    color: #86d5c5;
}

.yearlygraph .months table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}