.main .home .content {
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100% - 160px);
  width: 50%;
  z-index: 1;
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main .home .content::-webkit-scrollbar {
  display: none;
}

.main .home .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
}

.main .home .content .products a {
  color: black;
  text-decoration: none;
}

.main .home .content .products .lake {
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  margin: 32px;
  height: 180px;
}

.main .home .content .products .lake:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.main .home .content .products .lake .image {
  height: 100%;
  display: inline-block;
  pointer-events: none;
}

.main .home .content .products .lake .image img {
  height: 100%;
  filter: brightness(1.5);
}

.main .home .content .products .lake .properties {
  display: inline-block;
  vertical-align: top;
  padding: 16px;
}

.main .home .content .products .lake .properties .name {
  font-size: 22px;
}
