.main .api-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: calc(var(--header-height) + var(--padding) * 2);
  border-radius: 22px;
  padding: 2px var(--padding);
  box-sizing: border-box;
  background-color: var(--box-color);
  border: 1px solid var(--border-color);
}

.main.dark .api-container .swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.main.dark .api-container .swagger-ui .highlight-code {
  filter: invert(100%) hue-rotate(180deg);
}

.main .api-container .swagger-ui .info {
  margin: 18px 0;
}

.main .api-container .swagger-ui .wrapper {
  padding: 0;
}

@media screen and (max-width: 500px) {
  .main .api-container {
    margin-top: 45px;
    padding: 2px 8px;
  }
}