.main .api-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: var(--header-height);
  padding: 2px var(--padding);
  box-sizing: border-box;
}

.main.dark .api-container .swagger-ui .opblock-body{
  filter: invert(88%) hue-rotate(180deg);
}

.main .api-container .swagger-ui .info {
  display: none;
}

.main .api-container .swagger-ui .wrapper {
  padding: 0;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--highlight-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: var(--highlight-color);
}

.swagger-ui .opblock.opblock-get {
  background: none;
  border-color: var(--highlight-color);
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
  background: var(--highlight-color);
}

.swagger-ui a.nostyle {
  color: var(--background-font-color);
}

.swagger-ui .opblock .opblock-summary-description {
  color: var(--background-font-color);
}

@media screen and (max-width: 500px) {
  .main .api-container {
    margin-top: 45px;
    padding: 2px 8px;
  }
}