.navbar {
  width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar img.icon {
  padding: 32px 32px 16px 32px;
  height: 64px;
}

.navbar .desktop-nav {
  position: absolute;
  top: 0;
  left: 40%;
  text-align: center;
}

.navbar .desktop-nav a {
  text-decoration: none;
  color: black;
}

.navbar .desktop-nav .nav-item {
  display: inline-block;
  padding: 21px 0 24px 0;
  width: 128px;
  transition: 0.2s ease-in-out all;
  box-sizing: border-box;
  margin: 0 4px;
  border-top: 3px solid transparent;
}

.navbar .desktop-nav .nav-item:hover {
  border-top: 3px solid grey;
}

.navbar .desktop-nav .nav-item.active {
  border-top: 3px solid black;
}

.navbar .desktop-nav .nav-item img {
  height: 24px;
  margin-bottom: 2px;
}

.navbar .desktop-nav .nav-item .nav-text {
  display: block;
}

.navbar .mobile-nav {
  display: none;
}
