.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: var(--background-color);
  height: var(--header-height);
}

.navbar .navbar-inner {
  max-width: var(--max-width);
  margin: auto;
  padding: 30px var(--padding);
}

.navbar.relative {
  position: relative;
  z-index: 1;
}

.navbar .home-nav {
  position: absolute;
  height: 30px;
}

.navbar .home-nav img {
  height: 30px;
}

.navbar .home-nav .name {
  display: inline-block;
  color: var(--header-text-color);
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
  padding: 3px 0;
  vertical-align: bottom;
}

.navbar .desktop-nav {
  position: relative;
  text-align: right;
  box-sizing: border-box;
  z-index: 4;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
  top: 0;
  float: right;
}

.navbar .desktop-nav .nav-item {
  display: inline-block;
  margin-left: 24px;
  text-decoration: none;
}

.navbar .desktop-nav .nav-item .nav-text {
  color: var(--header-text-color);
  font-size: 16px;
  padding: 4px 16px;
  font-weight: bold;
  opacity: 0.7;
}

.navbar .desktop-nav .nav-item .nav-text:hover {
  opacity: 1;
}

.navbar .desktop-nav .nav-item.active .nav-text {
  border-bottom: 2px solid var(--highlight-color);
  opacity: 1;
}

.navbar select {
  background-color: var(--box-color);
  border: none;
  color: var(--header-text-color);
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 9px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.navbar select option {
  background-color: var(--background-color);
}

.navbar select:hover {
  opacity: 1;
}

.navbar .mobile-nav {
  display: none;
  position: fixed;
  right: var(--padding);
  top: var(--padding);
}

.navbar.small .mobile-nav {
  right: calc(50% + var(--padding));
}



.navbar .mobile-nav .nav-header .nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.navbar .mobile-nav .nav-header .nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: var(--background-font-color);
  transition: all 200ms ease-in-out;
}

.navbar .mobile-nav .nav-header .nav-toggle:hover {
  cursor: pointer;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(1) {
  transition: all 200ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(2) {
  transition: all 200ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(3) {
  transition: all 200ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}

.navbar .mobile-nav .nav-close {
  background-color: rgba(0, 0, 0, 70%);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 1;
  top: var(--header-height);
}

.navbar .mobile-nav .nav-close.hide {
  display: none;
}

.navbar .mobile-nav .nav-content {
  position: fixed;
  width: var(--list-width);
  background-color: #ffffffde;
  left: 0;
  top: var(--header-height);
  box-sizing: border-box;
  border-radius: 0 0 calc(var(--padding)) calc(var(--padding));
  border-top: 1px solid var(--border-color);
  z-index: 2;
}

.dark .navbar .mobile-nav .nav-content {
  background-color: hsl(232deg 11% 15% / 90%);
}

.navbar .mobile-nav .nav-content a {
  text-decoration: none;
}

.navbar .mobile-nav .nav-content.hide {
  display: none;
}

.navbar .mobile-nav .nav-content .nav-row {
  padding: var(--padding);
  min-height: 30px;
}

.navbar .mobile-nav .nav-content .nav-row .arrow {
  float: right;
}

.navbar .mobile-nav .nav-content .nav-row img {
  height: 20px;
  margin-bottom: -4px;
}

.navbar .mobile-nav .nav-content .nav-row select {
  color: var(--background-font-color);
  font-size: 18px;
  position: absolute;
  right: var(--padding);
  border: 1px solid var(--border-color);
  height: 36px;
  background-color: var(--box-color);
}

.navbar .mobile-nav .nav-content .nav-row .toggleContainer div {
  padding: 3px 7px;
}

.navbar .mobile-nav .nav-content .nav-row .mode {
  width: 76px;
  margin: auto;
  display: inline-block;
  position: absolute;
  left: var(--padding);
}

.dark .navbar .mobile-nav .nav-content .nav-row img {
  height: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navbar .mobile-nav .nav-content a .nav-row {
  font-size: 24px;
  font-weight: 500;
  color: var(--background-font-color);
}

.navbar .mobile-nav .nav-content .nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar .mobile-nav .nav-content .nav-footer img {
  width: calc(33% - 48px);
  vertical-align: middle;
  padding: 24px;
}

.dark .navbar .mobile-nav .nav-content .nav-footer img {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}

@media screen and (max-width: 1000px) {
  .navbar.relative {
    position: fixed;
    z-index: 99999;
  }

  .navbar .mobile-nav {
    display: block;
  }

  .navbar .desktop-nav {
    display: none;
  }

  .navbar.small .mobile-nav {
    right: var(--padding);
  }

  .navbar {
    z-index: 9999999;

  }

  .navbar .navbar-inner {
    padding: var(--padding);
  }
}