.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--background-color);
  z-index: 999999;
  height: 66px;
}

.navbar.small {
  width: var(--list-width);
}

.navbar img.icon {
  position: absolute;
  left: 0;
  top: 0;
  margin: 18px 0 0 var(--padding);
  height: 30px;
}

.navbar .desktop-nav {
  position: relative;
  width: calc(100% - 210px);
  text-align: right;
  padding: 14px var(--padding);
  box-sizing: border-box;
  z-index: 4;
  margin-left: 210px;
}

.navbar .desktop-nav .nav-item {
  display: inline-block;
  margin-left: 24px;
  text-decoration: none;
}

.navbar .desktop-nav .nav-item .nav-text {
  color: var(--background-font-color);
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar .desktop-nav .nav-item .nav-text:hover {
  background-color: var(--background-color);
}

.navbar select {
  background-color: transparent;
  border: none;
  color: var(--box-font-color);
  cursor: pointer;
  border-radius: 20px;
  padding: 9px 9px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar select:hover {
  background-color: var(--background-color);
}

.navbar .mobile-nav {
  display: none;
  position: fixed;
  right: var(--padding);
  top: 20px;
}

.navbar.small .mobile-nav {
  right: calc(50% + var(--padding));
}



.navbar .mobile-nav .nav-header .nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.navbar .mobile-nav .nav-header .nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: var(--background-font-color);
  transition: all 200ms ease-in-out;
}

.navbar .mobile-nav .nav-header .nav-toggle:hover {
  cursor: pointer;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(1) {
  transition: all 200ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(2) {
  transition: all 200ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.navbar .mobile-nav .nav-header .x:nth-of-type(3) {
  transition: all 200ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}

.navbar .mobile-nav .nav-content {
  position: fixed;
  width: var(--list-width);
  height: calc(100% - var(--header-height));
  background-color: var(--background-color);
  left: 0;
  top: var(--header-height);
  padding: 24px;
  box-sizing: border-box;
}

.navbar .mobile-nav .nav-content.hide {
  display: none;
}

.navbar .mobile-nav .nav-content .nav-row {
  padding: 24px 0;
}

.navbar .mobile-nav .nav-content .nav-row img {
  height: 20px;
  margin-bottom: -4px;
}

.dark .navbar .mobile-nav .nav-content .nav-row img {
  height: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navbar .mobile-nav .nav-content .nav-row a {
  font-size: 32px;
  text-decoration: none;
  color: var(--background-font-color);
}

.navbar .mobile-nav .nav-content .nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--box-inner-color);
}

.navbar .mobile-nav .nav-content .nav-footer img {
  width: calc(33% - 16px);
  vertical-align: middle;
  padding: 8px;
}

@media screen and (max-width: 1200px) {
  .navbar .mobile-nav {
    display: block;
  }

  .navbar .desktop-nav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navbar.small .mobile-nav {
    right: var(--padding);
  }
}