.overlay-stack {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 1000;
  width: calc(100% - 24px);
  pointer-events: none;
}

.overlay-stack .legend {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  pointer-events: none;
  color: var(--background-subtle-font-color);
}

.overlay-stack .legend.hide {
  display: none;
}

.overlay-stack .legend .legend-inner {
  background-color: var(--box-color);
  border-radius: 12px;
  width: fit-content;
  padding: 4px 12px;
}

.overlay-stack .control-bar {
  width: 100%;
  pointer-events: all;
  padding-top: 6px;
}

.overlay-stack .control-bar .play-button {
  display: inline-block;
  position: relative;
  padding: 17.5px 0px 17.5px 22px;
  background-color: var(--box-color);
  border-radius: 50%;
  width: 59px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  cursor: pointer;
}

.overlay-stack .control-bar .play-button .playpause {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 24px;
  border-color: transparent transparent transparent var(--highlight-color);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 15px;
  padding-right: 5px;
}

.overlay-stack .control-bar .play-button .playpause.pause {
  border-style: solid;
  border-width: 12px 0 12px 22px;
  padding-right: 0;
}

.overlay-stack .control-bar .play-button:hover .playpause {
  transform: scale(1.1);
}

.overlay-stack .control-bar .progress-bar {
  display: inline-block;
  position: relative;
  height: 24px;
  background-color: var(--box-color);
  margin: 18px 0;
  vertical-align: top;
  margin-left: -10px;
  padding: 0px 12px;
  width: calc(100% - 49px);
  border-radius: 0 12px 12px 0;
  box-sizing: border-box;
}

.click-block {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.drawn-marker-label {
  background-color: var(--box-color);
  padding: 3px 6px;
  border-radius: 8px;
}
