.footer {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--box-inner-color);
    padding: 33px var(--padding) 0 var(--padding);
    height: var(--footer-height);
}

.footer .summary {
    width: var(--list-width);
    display: inline-block;
    vertical-align: top;
}

.footer .summary a {
    color: var(--background-font-color)
}

.footer .partners {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - var(--list-width));
    text-align: center;
}

.footer .partners img {
    height: 40px;
    margin: 0 30px;
}

.footer .switch {
    position: absolute;
    right: var(--padding);
    top: 33px;
}

.footer .switch img {
    height: 20px;
    margin-bottom: -4px;
}

.dark .footer .switch img {
    height: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media screen and (max-width: 1250px) {
    .footer .partners img {
        height: 30px;
        margin: 0 12px;
    }

    .footer .partners {
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        display: none;
    }
}