.footer {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-color);
    z-index: 1;
    margin-top: var(--padding);
    padding: calc(var(--padding) / 2) var(--padding);
    margin: auto;
    max-width: var(--max-width);
}

.footer.small {
    width: calc(100% - var(--list-width) - var(--padding) * 3);
    position: fixed;
    bottom: 0;
    right: var(--padding);
    font-size: 14px;
    padding: 12px 4px;
    max-width: calc(var(--max-width) - var(--list-width));
}

@media screen and (min-width: 1920px) {
    .footer.small {
      right: calc(100% / 2 - var(--max-width) / 2);
    }
  
  }

.footer.medium {
    width: calc(100% - var(--sidebar-width) - var(--padding));
    position: fixed;
    bottom: 0;
    right: var(--padding);
    font-size: 14px;
    padding: 12px 4px;
}

.footer .summary {
    width: var(--list-width);
    display: inline-block;
    vertical-align: top;
}

.footer .summary a {
    color: var(--background-font-color)
}

.footer .partners {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - var(--list-width));
    text-align: center;
}

.footer .partners img {
    height: 40px;
    margin: 0 30px;
}

.footer .switch {
    float: right;
}

.footer a {
    text-decoration: none;
}

.footer .middle {
    display: inline-block;
    cursor: pointer;
    color: var(--background-font-color);
    position: absolute;
    left: 50%;
    right: 0;
    text-align: center;
    width: fit-content;
    transform: translate(-50%, 0);
}

.footer .middle .copywrite {
    font-size: 10px;
    color: var(--background-suble-font-color)
}

.footer .left {
    display: inline-block;
}

.footer .left img {
    height: 30px;
    opacity: 0.8;
}

.dark .footer .left img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.footer .switch:hover .toggle {
    border-color: var(--background-font-color);
}

.footer .switch img {
    height: 18px;
    margin-bottom: -4px;
}

.footer .toggleContainer div {
    padding: 3px 7px;
}


@media screen and (max-width: 1250px) {
    .footer .partners img {
        height: 30px;
        margin: 0 12px;
    }

    .footer .partners {
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        display: none;
    }
}