.vis-header {
  text-align: right;
  width: 100%;
  position: relative;
}

.vis-header .title {
  float: left;
}

.vis-header .icon {
  display: inline-block;
  margin-left: 12px;
  transition: all .2s ease;
}

.vis-header .icon:hover {
  transform: scale(1.1);
}

.vis-header img {
  height: 18px;
  cursor: pointer;
}

.vis-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vis-main.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 9999999;
  padding: 20px;
  box-sizing: border-box;
}

.main.dark .vis-header img {
  filter: invert(100%) hue-rotate(180deg);
}

.vis-header .downloadbar {
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 99;
  background-color: var(--background-color);
  box-sizing: border-box;
  cursor: auto;
  padding: 12px 0 12px 2px;
  border-radius: 0 0 0 12px;
}

.vis-header .downloadbar.hide {
  display: none;
}

.vis-header .downloadbar button {
  font-size: 14px;
  padding: 3px 5px;
  width: 50px;
  margin-left: 8px;
  background-color: var(--highlight-color);
  display: inline-block;
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.vis-header .downloadbar button:hover {
  box-shadow: none;
}