.map-graph {
  width: 100%;
  height: 400px;
  max-height: 33vh;
  pointer-events: all;
  position: relative;
}

.map-graph.full {
  height: 100%;
  max-height: none;
  z-index: 9999;
}

.map-graph .map-graph-header {
  height: 40px;
  width: 100%;
}

.map-graph .map-graph-header .map-graph-close {
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 22px;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.1s 0s ease;
  background-color: var(--box-color);
  width: 45px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
}

.map-graph .map-graph-header .map-graph-close:hover {
  font-size: 23px;
}

.map-graph .map-graph-header .map-graph-maximise {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22px;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.1s 0s ease;
  background-color: var(--box-color);
  width: 45px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
}

.map-graph .map-graph-header .map-graph-maximise img {
  height: 20px;
  padding-top: 5px;
  transition: all 0.1s 0s ease;
}

.main.dark .map-graph .map-graph-header .map-graph-maximise img {
  filter: invert(1);
}

.map-graph .map-graph-header .map-graph-maximise:hover img {
  transform: scale(1.1);
}

.map-graph .map-graph-header .map-graph-title {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.map-graph.full .map-graph-header .map-graph-title {
  background-color: var(--background-color);
}

.map-graph .map-graph-header .map-graph-title .map-graph-label {
  display: inline-block;
  background-color: var(--background-color);
  border-radius: 12px 12px 0 0;
  padding: 9px 12px;
  cursor: pointer;
  color: var(--background-subtle-font-color);
}

.map-graph .map-graph-header .map-graph-title .map-graph-label:hover {
  color: var(--background-font-color);
}

.map-graph .map-graph-header .map-graph-title .map-graph-label.active {
  background-color: var(--box-color);
  cursor: default;
  color: var(--background-font-color);
}

.map-graph .map-graph-header .map-graph-title .map-graph-label img {
  height: 16px;
  margin-right: 8px;
}

.map-graph
  .map-graph-header
  .map-graph-title
  .map-graph-label
  .map-graph-label-text {
  display: inline-block;
}

.map-graph .map-graph-content {
  height: calc(100% - 40px);
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  background-color: var(--box-color);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.map-graph .map-graph-content .no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--box-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 9;
}

.map-graph .map-graph-content .no-data.hide {
  display: none;
}

.map-graph .map-graph-content .input-coordinates {
  position: absolute;
  left: 20px;
  top: 16px;
  z-index: 9999;
}

.map-graph .map-graph-content .input-coordinates input {
  background-color: var(--background-color);
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--background-font-color);
  font-size: 16px;
  padding: 4px 6px;
  width: 80px;
  margin-right: 12px;
}

.map-graph .map-graph-content .input-coordinates button {
  display: inline-block;
  background-color: var(--background-color);
  box-shadow: var(--bottom-shadow);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
}

.map-graph .map-graph-content .input-coordinates button:hover {
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.map-graph .map-graph-content .vis-main.full {
  top: calc(var(--header-height) + 105px);
  height: calc(100% - var(--header-height) - 137px);
  left: calc(var(--padding) / 2 + 12px);
  width: calc(100% - var(--padding) - 24px);
  border-radius: 12px;
}

.map-graph .map-graph-content .satellite-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-graph .map-graph-content .satellite-legend {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.map-graph .map-graph-content .satellite-legend .graph-title-selection {
  display: inline-block;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection.unselect {
  opacity: 0.3;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection
  .triangle {
  width: 0;
  height: 0;
  border-left: 8.08px solid transparent;
  border-right: 8.08px solid transparent;
  border-bottom: 14px solid;
  border-bottom-color: inherit;
  background-color: transparent !important;
  display: inline-block;
  margin-right: 6px;
}

.map-graph .map-graph-content .satellite-legend .graph-title-selection .circle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.map-graph .map-graph-content .satellite-legend .graph-title-selection .square {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 6px;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection
  .question {
  background-color: var(--background-color);
  padding: 2px 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection
  .question:hover
  .question-hover {
  display: block;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection
  .question
  .question-hover {
  display: none;
  position: absolute;
  bottom: 73px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 8px;
  width: 300px;
  white-space: normal;
  text-align: left;
  left: calc(50% - 150px);
  z-index: 9;
}

.map-graph
  .map-graph-content
  .satellite-legend
  .graph-title-selection
  .question
  .question-hover
  .space {
  padding-top: 5px;
}

.map-graph .map-graph-content .satellite-summary .satellite-settings {
  margin-bottom: 10px;
  text-align: right;
}

.map-graph
  .map-graph-content
  .satellite-summary
  .satellite-settings
  .satellite-button {
  border-radius: 8px;
  margin-left: 16px;
  background-color: var(--background-color);
  color: var(--background-font-color);
  border: 1px solid var(--background-color);
  cursor: pointer;
  padding: 3px 10px;
  font-size: 14px;
  display: inline-block;
  transition: all 0.1s 0s ease;
}

.map-graph
  .map-graph-content
  .satellite-summary
  .satellite-settings
  .satellite-button:hover {
  transform: scale(1.05);
}

.main.dark
  .map-graph
  .map-graph-content
  .satellite-summary
  .satellite-settings
  .satellite-button
  img {
  filter: invert(1);
}

.map-graph
  .map-graph-content
  .satellite-summary
  .satellite-settings
  .satellite-button
  img {
  height: 15px;
  margin-right: 8px;
}

.map-graph .map-graph-content .satellite-graph {
  flex: 1;
}

.map-graph-icon {
  pointer-events: all;
  width: 50px;
  height: 50px;
  background-color: var(--box-color);
  border-radius: 12px;
  position: absolute;
  top: -62px;
  right: 0;
  cursor: pointer;
}

.map-graph-icon img {
  width: 26px;
  padding: 12px;
  transition: all 0.1s 0s ease;
}

.map-graph-icon:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  .map-graph .map-graph-content .input-coordinates {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .map-graph .map-graph-header .map-graph-title .map-graph-label {
    background-color: var(--select-color);
  }

  .map-graph .map-graph-content .satellite-summary .satellite-settings {
    display: none;
  }

  .map-graph
    .map-graph-content
    .satellite-legend
    .graph-title-selection
    .question {
    display: none;
  }

  .map-graph
    .map-graph-header
    .map-graph-title
    .map-graph-label
    .map-graph-label-text {
    max-width: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .map-graph
    .map-graph-header
    .map-graph-title
    .map-graph-label.active
    .map-graph-label-text {
    max-width: unset;
  }

  .map-graph .map-graph-content .vis-main.full {
    top: calc(var(--header-height) + 1px);
    height: calc(100% - var(--header-height) - 105px);
    border-radius: 0 0 12px 12px;
    left: 0;
    width: 100%;
  }
}
