/* Alplakes Master CSS */


/* Fonts */

@font-face {
  font-family: "DM_Sans";
  src: url("fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "DM_Sans_Italic";
  src: url("fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

/* Variables */

:root {
  --background-color: #F3F4F6;
  --background-font-color: rgb(50, 50, 50);
  --background-suble-font-color: rgb(117, 117, 117);
  --box-color: rgb(255, 255, 255);
  --box-font-color: rgb(0, 0, 0);
  --box-inner-color: rgb(227, 227, 227);
  --border-color: #ddd;
  --box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 5px;
  --box-shadow-hover: rgba(0, 0, 0, 0.24) 0px 1px 6px;
  --star-color: #E9C00A;
  --content-width: 1280px;
  --text-width: 700px;
  --max-width: 1920px;
  --top-margin: 56px;
  --footer-height: 48px;
  --footer-full-height: 114px;
  --padding: 40px;
  --list-width: 500px;
  --sidebar-width: 450px;
  --settings-width: 400px;
  --selector-height: 50px;
  --input-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 0 1px #FFF, 0 1px 0 #FFF;
  --info-height: 36px;
  --map-border-color: rgb(204, 204, 204);
  --button-fill-color: black;
  --button-text-color: white;
  --highlight-color: rgba(68, 188, 167, 1);
  --link-color: #5594CC;
  --highlight-color-fill: rgba(68, 188, 167, 0.2);
  --highlight-color-subtle: #EEF9F7;
  --header-text-color: rgb(59, 59, 59);
  --pulse-color: rgb(160, 160, 160);
  --map-color: rgb(236, 236, 236);
  --map-button: rgba(0, 0, 0, 0.8);
  --cell-size: 32px;
  --legend-color: rgb(236 236 236 / 47%);
  --app-area-height: 127px;
  --day-selector-height: 64px;
  color-scheme: light;
}

:root {
  --search-height: calc(var(--padding) * 2 + 125px);
  --header-height: calc(var(--padding) + 30px);
}

.dark {
  --background-color: hsl(232, 11%, 15%);
  --background-font-color: #cccccc;
  --box-color: hsl(233, 8%, 19%);
  --box-font-color: #e5e5e5;
  --box-inner-color: #282828;
  --input-shadow: inset 0 1px 2px rgb(44 44 44), 0 0 1px #bdbdbd, 0 1px 0 #464646;
  --border-color: #434343;
  --button-fill-color: white;
  --button-text-color: black;
  --header-text-color: rgb(207, 202, 202);
  --highlight-color-subtle: #143630;
  --pulse-color: rgb(136 136 136);
  --map-color: rgb(41, 41, 41);
  --box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  --box-shadow-hover: rgb(255 255 255 / 16%) 0px 1px 8px;
  --legend-color: rgb(41 41 41 / 65%);
}

@media screen and (max-width: 1000px) {
  :root {
    --list-width: 100%;
    --padding: 20px;
    --header-height: calc(var(--padding) * 2 + 26px);
    --top-margin: 87px;
    --search-height: calc(var(--padding) * 2.5 + 125px);
  }
}

@media screen and (max-width: 500px) {
  :root {
    --background-color: white;
    --search-height: calc(var(--padding) * 1.5 + 125px);
  }

  .dark {
    --box-color: hsl(232, 11%, 15%);
  }
}


/* Whole site settings */

.main {
  font-family: "DM_Sans", "Frutiger Neue LT Pro", "Arial", sans-serif;
  color: var(--background-font-color);
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

p {
  margin-bottom: 24px;
}

.main .background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}

.main .content {
  position: relative;
}

.tooltip-hover {
  background-color: var(--background-color);
  border-bottom: 2px solid var(--highlight-color);
  border-radius: 12px;
  padding: 5px 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 12px;
}

.main .tile-class.leaflet-tile {
  filter: grayscale(100%) !important;
}

.main.dark .tile-class.leaflet-tile {
  filter: brightness(2) contrast(0.8) !important;
}




/* Map icons */

.custom-square-marker div {
  width: 10px;
  height: 10px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 1px;
}

.custom-circle-marker div {
  width: 14px;
  height: 14px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  box-sizing: border-box;
}